<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>Savant</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">teach</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">all classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">my classes</a>
                </li>
            </ul>
        </div>
    </div>
        
</body>
</html>