
body {
  background-color: antiquewhite;
}

.container {
  margin: 0 auto;
}

.navbar {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: solid;
  border-width: 1px;


}

.nav-icon {
  border-style: solid;
  border-width: 1px;
}

.navPhoto {
  border-radius: 50%;
}


.middle-image {
  height: 80%;
  width: 80%;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

#logo {
  border-style: solid;
  border-width: 1px;
  width: 60%;
  height: 60%;
  mix-blend-mode: multiply;
  border-radius: 50%;
  box-shadow: 2.5px 5px #969b9f;
}

.motto {
  margin-bottom: 0px;
  margin-top: 10px;
}

.card {
    height: 475px !important;
    width: 225px !important;
    margin: 0 auto;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    /* overflow: scroll; */
}

.card-body {

  /* height: 100% !important;
  width: 100% !important; */
  position: relative;
  /* overflow: scroll; */

}

.add-class {
  float: left;
}

.calendar {
  height:30px;
  width: 30px;
  float: right;
  /* margin-left:10px; */
}

.cardFooter {
  position: absolute;
  height: 40px;
}

.carousel-item {
  margin: 0 auto !important;
  width: 800px;
  position: relative;
  /* margin-left: 123px !important; */
}

.carousel-inner {
  width: 800px;
  margin: 0 auto;
}

#carouselExampleControls {
  margin: 0 auto;
  margin-left: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  margin: 10px;

}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 57px;
  color: black;
}

.carousel-control-prev-icon:before {
  content: '<';
  font-size: 57px;
  color: black;
}

iframe {
  height: 200px !important;
  width: 223px !important;
}

.teacher {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 545px;
  width: 700px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.make-class {
  margin-top: 10px;
}

.create-a-class {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Literata', serif;
}

.user-sign-up {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 600px;
  width: 700px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.sign-up {
  margin-top: 10px;
}

.create-user {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Literata', serif;
}

.form-control-file {

  border-style: solid;
  border-width: 1px;
}

.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  padding: 40px;
}

.user-profile {
  margin: auto;
  width: 50%;

}

.user-profile-page {

  background-color: white;
}

.saved-classes {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Literata', serif;
}


.card-section {
  margin: 0 auto;
}

.searchIndex {
  font-family: 'Literata', serif;
  text-align: center;
  margin-bottom: 10px;
}

