/* 
.middle-btn-right {
float: left;
}

.middle-btn-left {
float: right;
} */

body {
  background: url(../images/background1.jpg);
}

.navbar {
  width: 100%;
}


.middle-image {
  height: 80%;
  width: 80%;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

#logo {
  border-style: solid;
  border-width: 1px;
}

.motto {
  margin-bottom: 0px;
}

.card {
    height: 500px !important;
    width: 250px !important;
    margin: 0 auto;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
}

.card-body {

  /* height: 100% !important;
  width: 100% !important; */
  position: relative;
  /* overflow: scroll; */

}

.add-class {
  float: left;
}

.calendar {
  height:40px;
  width: 40px;
  float: right;
  /* margin-left:10px; */
}

.cardFooter {
  position: absolute;
}

/* .next {
  margin: 0 auto;
  text-align: center;
} */

/* .section1 {
  max-height: 1px; 
}

.section2 {
  max-height: 1px; 
}

.section3 {
  max-height: 1px; 
}

.card-section1 {
  margin: 0 auto;
  text-align: center;
}

.card-section2 {
  margin: 0 auto;
  text-align: center;
}

.card-section3 {
  margin: 0 auto;
  text-align: center;
} */


/* .carousel-inner {
    scroll-behavior: smooth;
    display: grid;
    margin: 0 auto;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 100%);
    overflow: scroll;
    scroll-behavior: smooth;
    height: 650px !important;

  } */
  /* .wrapper section {
    max-height: 1px;  
  } */


  /* .wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
  }
  .wrapper section .item:hover {
    transform: scale(1.2);
  }
  .wrapper section a {
    position: relative;
    text-align: center;
    z-index: 0;
  }
  .wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
  }
  .wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
  } */

  iframe {
    height: 200px !important;
    width: 250px !important;
  }

  .teacher {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 550px;
    width: 700px;
    border-style: solid;
    border-width: 1px;
  }

  .make-class {
    margin-top: 20px;
  }

  .create-a-class {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Literata', serif;
  }

  .user-sign-up {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 600px;
    width: 700px;
    border-style: solid;
    border-width: 1px;
  }

  .sign-up {
    margin-top: 20px;
  }

  .create-user {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Literata', serif;
  }

  .form-control-file {

    border-style: solid;
    border-width: 1px;
  }

